<table>
 <tbody>
  <% project.comments.each do |comment| %>
  <tr>
   <td><%= comment.member.last_name %><%= comment.member.first_name %>さんからのコメント:<%= comment.comment %></td>
   <% if comment.member == current_member %>
    <% if comment.score < -0.5 %>
     <td style= background-color:red>感情スコア:<%= comment.score %></td>
     <script>alert('【警告】削除推奨のコメントです');</script>
    <% else %>
     <td>感情スコア:<%= comment.score %></td>
    <% end %>
   <td>
     <%= link_to "コメントの削除",project_comment_path(project,comment.id), method: :delete, remote: true %>
   <% end %>
   </td>
  <% end %>
  </tr>
 </tbody>
</table>
