<div class= "container">
  <div class= "card shadow">
    <div class= "card-body">
      <h4>マイページ</h4>
        <div class= "row">
          <div class="col-3">
            <%= image_tag @member.get_profile_image(30,30),class:"img-fluid rounded-circle";%>
          </div>
          <div class= "col-9">
            <p class= "card-text" style="border-bottom: solid 1px">
              名前:  <%= @member.last_name %><%= @member.first_name %>
            </p>
            <p class= "card-text" style="border-bottom: solid 1px">
              所属地域:  <%= @member.region %>
            </p>
            <p class= "card-text" style="border-bottom: solid 1px">
              所属部署:  <%= @member.section %>
            </p>
            <p class= "card-text">
              <% if @member.year == "" %>
                <p style="border-bottom: solid 1px">編集ページで入社年月日を入力してください</p>
              <% else %>
                <p class="text" style="border-bottom: solid 1px">入社年月:  <%= @member.year %>年<%= @member.month %>月</p>
              <% end %>
            </p>
            <!--<p class= "card-text">-->
            <!--  <#% if @thanks_project.present? %>-->
            <!--   <#% @thanks_project.each do |project| %>-->
            <!--   <#%= project.title %>-->
            <!--   <#% end %>-->
            <!--  <#% end %>-->
            <!--</p>-->
            <p class= "card-text">
              <% if @member.carrer == "" %>
                <p style="border-bottom: solid 1px">編集ページで経歴を入力してください</p>
              <% else %>
                <p style="border-bottom: solid 1px">略歴: <%= @member.carrer %></p>
              <% end %>
            </p>
            <!--<p class= "card-text">-->
              <p>投稿した案件</p>
              <table class ="table">
                <thead>
                  <tr>
                    <th>案件名</th>
                    <th>地域</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% if @projects.present? %>
                    <% @projects.each do |project| %>
                  <tr>
                    <td><%= project.title %></td>
                    <td><%= project.region %></td>
                    
                    <td><%= link_to "編集",edit_project_path(project), class: "btn btn-sm btn-success edit_project_#{project.id}" %> </td>
                    <% end %>
                  </tr>

                  <% else %>
                    <p>投稿した案件はありません</p>
                  <% end %>
                </tbody>
              </table>
            <!--</p>-->
            <p class= "card-text">
              <%= link_to '編集する',edit_members_path,class: "btn btn-success w-25"%>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>