<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag 'logo.png', size:"200x200" %></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if member_signed_in? %>
              <li class="nav-item">
                マイページ
              </li>
              <li class="nev-item">
                <%= link_to "新規登録",new_project_path %>
              </li>
              <li class="nav-item">
                <%= link_to "詳細検索",search_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト",destroy_member_session_path,method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "新規登録",new_member_registration_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン",new_member_session_path%>
              </li>
            <% end %>
          </ul>
        </div>
    </div>
   </nav>
</header>