<div class= "container-fluid">
  <div class= "row">
    <div class="col text-center" >
      <%= image_tag 'logo_top.png', class: "img-fluid"%>
    </div>
  </div>
  <h2 class= "text-center">About us</h2><br>
  <div class= "row">
    <div class="col text-center">
      <p>SEARCHCTは過去に対応した案件を保存し、<br class="d-sm-none">案件を検索することができます。
      <br>また、閲覧数を可視化することにより、<br class="d-sm-none">マニュアル化の手助けをします。</p>
    </div>
  </div>
  <div class= "row mt-5">
    <div class="col12 mx-auto d-block">
      <%= image_tag 'sub.png' , size: '800x700', class: "img-fluid"%>
    </div>
  </div>
  <div class= "row">
    <div class="col12 mx-auto d-block">
      <%= image_tag 'manual1.png' , size: '800x700',class: "img-fluid"%>
    </div>
    <div class="col12 mx-auto d-block">
      <%= image_tag 'manual2.png' , size: '800x700',class: "img-fluid"%>
    </div>
  </div>
  <div class= "row">
    <div class="col12 mx-auto d-block">
      <%= image_tag 'manual3.png' , size: '800x700',class: "img-fluid"%>
    </div>
    <div class="col12 mx-auto d-block">
      <%= image_tag 'manual4.png' , size: '800x700',class: "img-fluid"%>
    </div>
  </div>
  <div class= "row">
    <div class="col12 mx-auto d-block">
      <%= image_tag 'manual5.png' , size: '800x700',class: "img-fluid"%>
    </div>
    <div class="col12 mx-auto d-block">
      <%= image_tag 'manual6.png' , size: '800x700',class: "img-fluid"%>
    </div>
  </div>
  <div class= "row">
    <div class="col12 mx-auto d-block">
      <%= image_tag 'manual7.png' , size: '800x700',class: "img-fluid"%>
    </div>
  </div>
</div>