<div class = "table-resposive-sm">
  <table class= "table">
    <thead>
      <tr>
        <th scope= "col" class="text-nowrap">閲覧数</th>
        <th scope= "col" class="text-nowrap">案件名</th>
        <th scope= "col" class="text-nowrap">地域</th>
        <th scope= "col" class="text-nowrap">担当営業</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
         <% project.each do |project| %>
      <tr>
        <th><%= project.view_counts.count %></th>
        <th scope= "col" class="text-nowrap"><%= project.title %></th>
        <th scope= "col" class="text-nowrap"><%= project.region %></th>
        <th scope= "col" class="text-nowrap"><%= project.salesman %></th>
        <th scope= "col" class="text-nowrap"><%= link_to "詳細",project_path(project),class: "btn btn-primary" %></th>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>