<div class= "container">
  <div class= "card shadow">
      <h4>案件登録ページ</h4>
        <%= form_with model: @project, url: projects_path,method: :post do |f| %>
        <!--ラベルと遷移先要検討--><!--セレクトボックスの位置修正する-->
        <div class= "row justify-content-center mb-3">
          <%= f.text_field :title ,placeholder: "案件タイトル",class: "w-75"%>
        </div>
        <div class= "row mb-3">
          <div class= "col text-right">
            <%= f.select :region,[["本社","本社"],["北海道","北海道"],["東北","東北"],["中部","中部"],["近畿","近畿"],["中国四国","中国四国"],["九州","九州"]], include_blank: "地域"%>
          </div>
          <div class= "col p-0">
            <%= f.text_field :salesman,placeholder: "担当営業" %>
          </div>
          <div class= "col pr-0">
            <%= f.select :year,[["2022年","2022年"]], include_blank: "案件発生年"%>
          </div>
          <div class= "col p-0">
            <%= f.select :month,[["1月","1月"]], include_blank: "案件発生月"%>
          </div>
        </div>
        <div class= "row justify-content-center mb-3">
        <%= f.text_area :caption,rows: '15',placeholder: "案件詳細説明をここに",class: "w-75" %>
        </div>
        <div class= "row justify-content-center mb-3">
        <%= f.file_field :project_image,accept: "image/*" %>
        </div>
        <div class= "row justify-content-center mb-3">
        <%= f.submit "案件登録",class: "btn btn-success"%>
        </div>
        <% end %>
  </div>
</div>