<div class= "container">
  <div class= "card shadow">
    <div class= "card-body">
      <h4 class= "mt-3 ml-3 mb-3">案件登録</h4>
        <%= render 'error',project: @project %>
        <%= form_with model: @project, url: projects_path,method: :post do |f| %>
        <div class= "card-text text-center mb-3">
          <%= f.label :"顧客名"%>
          <%= f.text_field :customer ,placeholder: "顧客名",class: "w-50"%>
        </div>
        <div class= "card-text d-flex justify-content-center mb-3">
          <p class= "mr-3">
            <%= f.select :region, Member::REGION,include_blank: "地域"%>
          </p>
          <p class= "mr-3">
            <%= f.text_field :salesman,placeholder: "担当営業" %>
          </p>
        </div>
        <div class= "card-text text-center mb-3">
          <%= f.label :"リース開始日"%>
          <%= f.select :start_year,*[2013..2022],autofocus: true %>年<%= f.select :start_month, *[1..12],autofocus: true %>月<%= f.select :start_day, *[1..31],autofocus: true %>日
        </div>
        <div class= "card-text text-center mb-3">
          <%= f.label :"リース終了日"%>
          <%= f.select :end_year,*[2022..2032],autofocus: true %>年<%= f.select :end_month, *[1..12],autofocus: true %>月<%= f.select :end_day, *[1..31],autofocus: true %>日
        </div>
         <div class= "card-text text-center mb-3">
          <%= f.label :"登録番号" %>
          <%= f.text_field :registration_number,placeholder: "ex羽星 130 い 0000",class: "w-50" %>
        </div>
        <div class= "card-text text-center mb-3">
          <%= f.label :"車体番号" %>
          <%= f.text_field :body_number,placeholder: "FRF90-0000000",class: "w-50"%>
        </div>
        <div class= "card-text text-center mb-3">
          <%= f.label :"車種"%>
          <%= f.select :vehicle_type,Project.vehicle_types_i18n.invert%>
        </div>
        <div class= "card-text text-center mb-3">
          <%= f.label :"リース種別"%>
          <%= f.select :lease_type,Project.lease_types_i18n.invert %>
        </div>
         <div class= "card-text text-center mb-3">
          <%= f.radio_button :insurance ,:yes%>
          <%= f.label :insurance, "保険あり" %>
           <%= f.radio_button :insurance ,:no%>
          <%= f.label :insurance, "保険なし" %>
        </div>
        <div class= "card-text text-center mb-3">
          <%= f.label :"整備工場" %>
          <%= f.text_field :body_shop,class: "w-50" %>
        </div>
        <div class= "row justify-content-center mb-3">
          <%= f.text_area :caption,rows: '5',placeholder: "備考はこちら",class: "w-75" %>
        </div>
        <div class= "row justify-content-center mb-3">
          <!--引数の順番によって役割が変わる。-->
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text%>
              <% end %>
            <% end %>
        </div>
        <div class= "row justify-content-center mb-3">
          <%= f.file_field :project_image,accept: "image/*"%>
        </div>
        <div class= "row justify-content-center mb-3">
          <%= f.submit "案件登録",class: "btn w-75 new_btn"%>
        </div>
        <% end %>
    </div>
  </div>
</div>