<div class= "container">
      <h4>案件投稿ページです</h4>
        <%= form_with model: @project, url: public_projects_path,method: :post do |f| %>
        <!--ラベルと遷移先要検討-->
        <div class= "row justify-content-center">
          <%= f.text_field :title ,placeholder: "案件タイトル"%>
        </div>
        <div class= "row justify-content-center">
        <%= f.select :region,[["本社","本社"],["北海道","北海道"],["東北","東北"],["中部","中部"],["近畿","近畿"],["中国四国","中国四国"],["九州","九州"]], include_blank: "地域"%>
        <%= f.text_field :salesman,placeholder: "担当営業" %>
        <%= f.select :year,[["2022年","2022年"]], include_blank: "案件発生年"%>
        <%= f.select :month,[["1月","1月"]], include_blank: "案件発生月"%>
        </div>
        <div class= "row justify-content-center">
        <%= f.text_area :caption,placeholder: "案件詳細説明をここに" %>
        </div>
        <div class= "row justify-content-center">
        <%= f.file_field :project_image,accept: "image/*" %>
        </div>
        <div class= "row justify-content-center">
        <%= f.submit "案件登録",class: "btn btn-success"%>
        </div>
        <% end %>
</div>