<div class= "container">
  <div class= "card shadow">
    <h4>案件詳細</h4>
    <div class= "row justify-content-center mb-3">
      タイトル：<%= @project.title %>
    </div>
    <div class= "row justify-content-center mb-3">
      部署：<%= @project.region %>
    </div>
    <div class= "row justify-content-center mb-3">
      担当営業：<%= @project.salesman %>
    </div>
    <div class= "row justify-content-center mb-3">
      年月：<%= @project.year %><%= @project.month %>
    </div>
    <div class= "row justify-content-center mb-3">
      概要：<%= @project.caption %>
    </div>
    <div class= "row justify-content-center mb-3">
      画像：<%= image_tag @project.project_image,size: '500x700' %>
    </div>
    <div class= "row justify-content-center mb-3">
      <%= render "public/comments/index",project: @project %>
    </div>
    <div class= "row justify-content-center mb-3">
      <%= render "public/comments/form",project: @project,comment: @comment %>
    </div>
    <div class= "row justify-content-center mb-3">
      <%= render "public/thanks/btn",project: @project %>
    </div>

  </div>
</div>