<div class= "container">
  <div class= "row">
    <div class= "card shadow col-12 col-lg-8">
      <h4 class= "mt-3 mb-5 ml-3">案件詳細</h4>
        <div class= "row ml-3">
          <label class="col-sm-2">案件名</label>
          <div class="col-sm-10">
          <%= @project.title%>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">顧客名</label>
          <div class="col-sm-10">
          <%= @project.customer %>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">地域</label>
          <div class="col-sm-10">
          <%= @project.region %>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">担当</label>
          <div class="col-sm-10">
          <%= @project.salesman %>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">開始日</label>
          <div class="col-sm-10">
          <%= @project.start_year %>年<%= @project.start_month %>月<%= @project.start_day %>日
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">終了日</label>
          <div class="col-sm-10">
          <%= @project.end_year %>年<%= @project.end_month %>月<%= @project.end_day %>日
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">登録番号</label>
          <div class="col-sm-10">
            <%= @project.registration_number %>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">車体番号</label>
          <div class="col-sm-10">
            <%= @project.body_number%>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">車種</label>
          <div class="col-sm-10">
            <%= @project.vehicle_type_i18n%>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">リース種別</label>
          <div class="col-sm-10">
            <%= @project.lease_type_i18n %>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">保険</label>
          <div class="col-sm-10">
            <%= @project.insurance_i18n%>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">整備工場</label>
          <div class="col-sm-10">
            <%= @project.body_shop%>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">備考</label>
          <div class="col-sm-10">
          <!--改行を反映させるため、simple_formatを使用。hオプションで<p>等を文字列として認識-->
          <%= simple_format(h(@project.caption)) %>
          </div>
        </div>
        <div class= "row ml-3">
          <label class="col-sm-2">添付資料</label>
          <div class="col-sm-10">
             <%= image_tag @project.project_image,size: '300x400',class:"shadow"; %>
          </div>
        </div>
      <div class= "card-text ml-3 mt-3">
        <% if @project.tags.present? %>
          <% @project.tags.each do |tag| %>
           <p class ="btn tag_btn "><%= link_to tag.name,search_path(tag_id: tag.id) %></p>
          <% end %>
        <% end %>
      </div>
      <div class= "card-text ml-3">
        投稿日：<%= @project.created_at.strftime('%Y年%m月')%>
        投稿者：<%= @project.member.last_name %><%= @project.member.first_name %>
        <%= link_to member_path(@member) do%>
        <i class="fas fa-user"></i>
        <% end %>
      </div>
      <div class= "card-text ml-3 mb-3">
        閲覧数：<%= @project.view_counts.count %>
      </div>
      <div class= "card-item ml-3 mb-3">
        <p id="project_<%= @project.id %>"><%= render "public/thanks/btn",project: @project %></p>
      </div>
      <div class= "card-item ml-3 mb-3">
        <% if @project.member == current_member %>
          <%= link_to "案件の編集",edit_project_path(@project), class: "btn  edit_project_#{@project.id} edit_btn" %>
        <% end %>
      </div>
      <div id="project_comment_<%= @project.id %>" class= "card-item ml-3 mb-3">
        <%= render "public/comments/index",project: @project %>
      </div>
       <div class= "card-item ml-3 mb-3 mr-3">
        <%= render "public/comments/form",project: @project,comment: @comment %>
      </div>
    </div>
    <div class= "col-12 col-lg-4">
      <%= javascript_pack_tag 'calendar' %>
      <%= render 'public/events/index' %>
    </div>
  </div>
</div>