<div class= "container">
  <div class= "row">
    <div>
      タイトル：<%= @project.title %>
    </div>
    <div>
      部署：<%= @project.region %>
    </div>
    <div>
      担当営業：<%= @project.salesman %>
    </div>
    <div>
      年月：<%= @project.year %><%= @project.month %>
    </div>
    <div>
      概要：<%= @project.caption %>
    </div>
    <!--<div>-->
    <!--  画像：<#%= image_tag @project.project_image %>-->
    <!--</div>-->



    <div>
      <%= render "public/comments/index",project: @project %>
    </div>
    <div>
      <%= render "public/comments/form",project: @project,comment: @comment %>
    </div>

  </div>
</div>