<div class= "container">
  <div class= "card shadow">
    <div class= "card body">
      <h4 class= "card-title mt-3 ml-3">
       <%= @project.title %>
      </h4>
      <div class= "card-text d-flex flex-row ml-3">
        <p class= "mr-3">地域：<%= @project.region %></p>
        <p>担当営業：<%= @project.salesman %></p>
      </div>
      <div class= "card-text ml-3 mb-3">
        <%= @project.created_at.strftime('%Y年%m月')%>
        <% if @project.tags.present? %>
          <% @project.tags.each do |tag| %>
           <p class ="btn btn-dark"><%= tag.name %></p>
          <% end %>
        <% end %>
        投稿者：<%= @project.member.last_name %><%= @project.member.first_name %>
        <%= link_to "りんく",member_path(@member) %>
      </div>
      <div class= "card-text ml-3 mb-3">
        閲覧数：<%= @project.view_counts.count %>
      </div>
      <div class= "card-text ml-3 mb-3">
        <!--splitメソッドで文字列を分割。改行コードをhtmlで表示した時に<br>にする-->
        概要<br><%= safe_join(@project.caption.split("\n"),tag(:br)) %>
      </div>
      <div class= "card-item ml-3 mb-3">
         <%= image_tag @project.project_image,size: '300x400' %>
        <!--<3% if @project.project_images.attached? %>-->
        <!--  <3% @project.project_image.each do |project_image| %>-->
        <!--  <3%= image_tag project_image,size: '300x400' %>-->
        <!--  <3% end %>-->
        <!--<3% else %>-->
        <!--  <p>画像はありません</p>-->
        <!--<3% end %>-->
      </div>
      <div class= "card-item ml-3 mb-3">
        <%= render "public/thanks/btn",project: @project %>
      </div>
      <div class= "card-item ml-3 mb-3">
        <%= render "public/comments/index",project: @project %>
      </div>
      <div class= "card-item ml-3 mb-3 mr-3">
        <%= render "public/comments/form",project: @project,comment: @comment %>
      </div>
    </div>
  </div>
</div>