<!DOCTYPE html>
<html>
  <head>
    <title>Searchct</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style ="background-color: #fff5e0">
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
   <%= render 'layouts/footer' %>
</html>
